@use "~@awsui/design-tokens/index.scss" as awsui;
@use "./base";

.custom-input-small {
  max-width: 11rem;
  display: inline-block;
}

.awsui-polaris-dark-mode {
  .awsui-form-title {
    color: awsui.$color-text-heading-default;
  }
}
