/*
 * Copyright 2022 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
 
@use '@cloudscape-design/design-tokens/index' as awsui;
@use "./base";

.custom-input-small {
  max-width: 11rem;
  display: inline-block;
}

.awsui-polaris-dark-mode {
  .awsui-form-title {
    color: awsui.$color-text-heading-default;
  }
}
