aws-lambda-powertools==2.36.0 ; python_version >= "3.13" and python_version < "4"
boto3==1.34.84 ; python_version >= "3.13" and python_version < "4"
botocore==1.34.162 ; python_version >= "3.13" and python_version < "4"
casbin==1.33.0 ; python_version >= "3.13" and python_version < "4"
certifi==2025.10.5 ; python_version >= "3.13" and python_version < "4"
cffi==2.0.0 ; python_version >= "3.13" and python_version < "4" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.3 ; python_version >= "3.13" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "4"
coverage==7.1.0 ; python_version >= "3.13" and python_version < "4"
cryptography==46.0.2 ; python_version >= "3.13" and python_version < "4"
docopt==0.6.2 ; python_version >= "3.13" and python_version < "4"
flake8==6.0.0 ; python_version >= "3.13" and python_version < "4"
idna==3.10 ; python_version >= "3.13" and python_version < "4"
iniconfig==2.1.0 ; python_version >= "3.13" and python_version < "4"
jinja2==3.1.6 ; python_version >= "3.13" and python_version < "4"
jmespath==1.0.1 ; python_version >= "3.13" and python_version < "4"
locked-dict==2023.10.22 ; python_version >= "3.13" and python_version < "4"
markupsafe==3.0.3 ; python_version >= "3.13" and python_version < "4"
mccabe==0.7.0 ; python_version >= "3.13" and python_version < "4"
moto==5.1.0 ; python_version >= "3.13" and python_version < "4"
mypy-extensions==1.1.0 ; python_version >= "3.13" and python_version < "4"
mypy==1.0.0 ; python_version >= "3.13" and python_version < "4"
opensearch-py==2.5.0 ; python_version >= "3.13" and python_version < "4"
packaging==25.0 ; python_version >= "3.13" and python_version < "4"
pluggy==1.6.0 ; python_version >= "3.13" and python_version < "4"
pycodestyle==2.10.0 ; python_version >= "3.13" and python_version < "4"
pycparser==2.23 ; python_version >= "3.13" and python_version < "4" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic==1.10.7 ; python_version >= "3.13" and python_version < "4"
pyflakes==3.0.1 ; python_version >= "3.13" and python_version < "4"
pytest-mock==3.12.0 ; python_version >= "3.13" and python_version < "4"
pytest-watch==4.2.0 ; python_version >= "3.13" and python_version < "4"
pytest==8.3.4 ; python_version >= "3.13" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "4"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "4"
requests==2.32.5 ; python_version >= "3.13" and python_version < "4"
responses==0.25.8 ; python_version >= "3.13" and python_version < "4"
s3transfer==0.10.4 ; python_version >= "3.13" and python_version < "4"
simpleeval==1.0.3 ; python_version >= "3.13" and python_version < "4"
six==1.17.0 ; python_version >= "3.13" and python_version < "4"
typing-extensions==4.15.0 ; python_version >= "3.13" and python_version < "4"
urllib3==1.26.20 ; python_version >= "3.13" and python_version < "4"
watchdog==6.0.0 ; python_version >= "3.13" and python_version < "4"
werkzeug==3.1.4 ; python_version >= "3.13" and python_version < "4"
xmltodict==1.0.2 ; python_version >= "3.13" and python_version < "4"
