attrs==22.1.0; python_version >= "3.6"
aws-lambda-powertools==2.7.1; python_full_version >= "3.7.4" and python_full_version < "4.0.0"
boto3-stubs==1.26.81; python_version >= "3.7"
boto3==1.25.5; python_version >= "3.7"
botocore-stubs==1.29.69; python_version >= "3.7" and python_version < "4.0"
botocore==1.28.5; python_version >= "3.7"
certifi==2022.12.7; python_version >= "3.6"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
contextlib2==21.6.0; python_version >= "3.6"
dill==0.3.6; python_version >= "3.7"
google-pasta==0.2.0; python_version >= "3.6"
idna==3.4; python_version >= "3.7" and python_version < "4"
importlib-metadata==4.13.0; python_version >= "3.7"
jmespath==1.0.1; python_version >= "3.7"
markupsafe==2.1.2; python_version >= "3.7"
multiprocess==0.70.14; python_version >= "3.7"
mypy-boto3-stepfunctions==1.26.21; python_version >= "3.7"
numpy==1.23.4
packaging==23.0; python_version >= "3.7"
pandas==1.5.1; python_version >= "3.8"
pathos==0.3.0; python_version >= "3.7"
pox==0.3.2; python_version >= "3.7"
ppft==1.7.6.6; python_version >= "3.7"
protobuf3-to-dict==0.1.5; python_version >= "3.6"
protobuf==3.20.3; python_version >= "3.7"
pydantic==1.10.4; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.5; python_version >= "3.8"
pyyaml==6.0; python_version >= "3.6"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
s3transfer==0.6.0; python_version >= "3.7"
sagemaker==2.116.0; python_version >= "3.6"
schema==0.7.5; python_version >= "3.6"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
smdebug-rulesconfig==1.0.1; python_version >= "3.6"
stepfunctions==2.3.0
types-awscrt==0.16.10; python_version >= "3.7" and python_version < "4.0"
types-s3transfer==0.6.0.post5; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.4.0; python_full_version >= "3.7.4" and python_full_version < "4.0.0" and python_version >= "3.7"
urllib3==1.26.12; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
werkzeug==2.2.3; python_version >= "3.7"
zipp==3.10.0; python_version >= "3.7"
