attrs==22.2.0 ; python_version >= "3.10" and python_version < "4.0"
aws-lambda-powertools==2.36.0 ; python_version >= "3.10" and python_version < "4.0"
boto3==1.34.84 ; python_version >= "3.10" and python_version < "4.0"
botocore==1.34.84 ; python_version >= "3.10" and python_version < "4.0"
casbin==1.34.0 ; python_version >= "3.10" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "4"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "4"
contextlib2==21.6.0 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.6 ; python_version >= "3.10" and python_version < "4.0"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
importlib-metadata==4.13.0 ; python_version >= "3.10" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
locked-dict==2023.10.22 ; python_version >= "3.10" and python_version < "4.0"
multiprocess==0.70.14 ; python_version >= "3.10" and python_version < "4.0"
mypy-boto3-stepfunctions==1.34.0 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.24.3 ; python_version >= "3.10" and python_version < "4.0"
opensearch-py==2.5.0 ; python_version >= "3.10" and python_version < "4"
packaging==23.1 ; python_version >= "3.10" and python_version < "4.0"
pandas==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
pathos==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
pox==0.3.2 ; python_version >= "3.10" and python_version < "4.0"
ppft==1.7.6.6 ; python_version >= "3.10" and python_version < "4.0"
protobuf3-to-dict==0.1.5 ; python_version >= "3.10" and python_version < "4.0"
protobuf==3.20.3 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.10" and python_version < "4"
s3transfer==0.10.1 ; python_version >= "3.10" and python_version < "4.0"
sagemaker==2.142.0 ; python_version >= "3.10" and python_version < "4.0"
schema==0.7.5 ; python_version >= "3.10" and python_version < "4.0"
simpleeval==0.9.13 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4"
smdebug-rulesconfig==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
stepfunctions==2.3.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.18 ; python_version >= "3.10" and python_version < "4"
zipp==3.15.0 ; python_version >= "3.10" and python_version < "4.0"
