.assetSelection {
    width: 50%;
    left: 0;
}

.container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
}

.pfpContainer{
    margin-top: 10px;
    margin-right: 6px;
}

.singleCommentContainer {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    margin-bottom: -25px;
    margin-top: -15px;
}

.singleNestedCommentContainer {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    margin-bottom: -25px;
    margin-top: -25px;
}

.singleComment {
    margin-left: 40px;
}

.singleNestedComment {
    margin-left: 40px;
}

.commentTimeAgoDiv {
    margin-top: 5px;
    margin-left: 10px;
    font-size: x-small;
    color: gray;
}

.commentSectionContainer {
    width: 50%;
}

.commentSectionDiv {
    margin-top: 0%;
    height: 100%;
}

.commentSectionTable {
    width: 100%;
}

.commentSectionTextBoxContainer {
    width: 77%;
}

.commentSectionAssetsContainerTable {
    height: 50vh;
    vertical-align: bottom;
}

/* .commentSectionAssetsData {

} */

.commentSectionSubmitButton {
    margin-left: 10px;
    margin-top: 20px;
    vertical-align: bottom;
}

.commentSectionTableBorder {
    border: 1px solid black;
    border-radius: 10px;
}

.vl {
    border-left: 3px solid #000716;
    margin-top: -5px;
    height: 200vh;
    position: fixed
  }

div.inflow {
    width: 20px; 
    float: right;
    position: relative; 
    margin-right: 20px;
    margin-left: -30px;
}

div.positioner {position: absolute; right: 0;}

div.fixed {
    width: 0px; 
    position: fixed; 
    top: 60px; 
    margin-left: 15px;
}

th, td {
    padding: 15px;
}

