.wrapper {
    border-top: 1px solid lightgray;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    resize: horizontal;
}

.wrapper-left {
    border-right: 1px solid lightgray;
    margin-top: 5px;
    overflow: auto;
    height: 600px;
}

.wrapper-right {
    height: 600px;
}

.gallery-top-control {
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 20px;
    background: #f2f8fd;
}

.gallery-top-control-wrapper {
    margin-left: 10px;
}

.gallery-wrapper {
    max-height: 100%;
    overflow: auto;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100%;
    min-width: 100%;
    /* margin: 5px; */
}

.galleryItem {
    min-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
}
.gallaryItemName {
    overflow-wrap: break-word;
    text-align: left;
    max-width: 100%;
    padding: 2px;
}
.action-bar {
    display: flex;
}

.action-bar-item {
    cursor: pointer;
}
